<launch>
    <arg name="db_credentials" default="" />
    <arg name="server_port" default="11234" />
    <arg name="host" default="0.0.0.0" />
    <arg name="endpoint" default="ws://127.0.0.1:9944"/>

    <arg name="sentry_key" default="" />

    <node ns="liability_cacher" name="cacher" pkg="liability_cacher" type="cacher_node" output="screen" respawn="true">
        <param name="db_credentials" textfile="$(arg db_credentials)" />
        <param name="sentry_key" value="$(arg sentry_key)" />
    </node>

    <node ns="liability_cacher" name="web_server" pkg="liability_cacher" type="web_server_node" output="screen" respawn="true">
        <param name="db_credentials" textfile="$(arg db_credentials)" />
        <param name="host" value="$(arg host)" />
        <param name="server_port" value="$(arg server_port)" />
    </node>

    <node ns="liability_cacher" name="datalog_cacher" pkg="liability_cacher" type="datalog_cacher" output="screen" respawn="true">
        <param name="endpoint" value="$(arg endpoint)"/>
    </node>

</launch>

